body{
  margin: auto;
  background-image: url("https://image.freepik.com/free-photo/medical-stethoscope-apple-fruit-wooden-background-healthy-lifestyle-concept-image_1205-1472.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  /* margin: 20px; */
  padding: 10px;
  text-align: center;
  background: black;
  color :  aliceblue;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inputText , button
{
  position: relative;
  left: 40px;
}
